@font-face {
    font-family: "Rajdhani Bold";
    src: local("Rajdhani"),
        url("./fonts/Rajdhani/Rajdhani-Bold.woff") format("truetype");
}

@font-face {
    font-family: "Rajdhani Light";
    src: local("Rajdhani"),
        url("./fonts/Rajdhani/Rajdhani-Light.woff") format("truetype");
}

@font-face {
    font-family: "Rajdhani Regular";
    src: local("Rajdhani"),
        url("./fonts/Rajdhani/Rajdhani-Regular.woff") format("truetype");
}

@font-face {
    font-family: "RobotoCondensed Regular";
    src: local("Roboto_Condensed"),
        url("./fonts/Roboto_Condensed/RobotoCondensed-Regular.woff")
            format("truetype");
}

@font-face {
    font-family: "Heebo Light";
    src: local("Heebo"), url("./fonts/Heebo/Heebo-Light.woff") format("truetype");
}

@font-face {
    font-family: "Heebo Regular";
    src: local("Heebo"),
        url("./fonts/Heebo/Heebo-Regular.woff") format("truetype");
}

* {
    margin: 0;
    font-family: "Rajdhani Regular", serif;
}

html {
    scroll-behavior: smooth;
    background-color: #161616;
}

body {
    overflow-x: hidden ;
}

div {
    font-family: "Rajdhani Bold", serif;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #161616;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff124f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9e193a;
}
